@media screen and (max-width: 781px) {

	$font100: 'Museo Sans Cyrl 100';
	$font300: 'Museo Sans Cyrl 300';
	$font500: 'Museo Sans Cyrl 500';
	$font700: 'Museo Sans Cyrl 700';
	$font900: 'Museo Sans Cyrl 900';

	html {
		font-size: 25px;
	}

	body {}

	h1,
	h2 {
		margin: 0;
		padding: 0;
		font-size: 1.875rem;
		font-family: $font700;
		letter-spacing: -.125rem;
	}


	.container {
		width: 500px;
		height: 100%;
		margin: 0 auto;
	}

	.ham {
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;
		transition: transform 400ms;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		width: 100%;
		height: 100%;
	}

	.hamRotate.active {
		transform: rotate(45deg);
	}

	.hamRotate180.active {
		transform: rotate(180deg);
	}

	.line {
		fill: none;
		transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
		stroke: #000;
		stroke-width: 5.5;
		stroke-linecap: round;
	}

	.ham7 .top {
		stroke-dasharray: 40 82;
	}

	.ham7 .middle {
		stroke-dasharray: 40 111;
	}

	.ham7 .bottom {
		stroke-dasharray: 40 161;
	}

	.ham7.active .top {
		stroke-dasharray: 17 82;
		stroke-dashoffset: -62px;
	}

	.ham7.active .middle {
		stroke-dashoffset: 23px;
	}

	.ham7.active .bottom {
		stroke-dashoffset: -83px;
	}

	.btn {}

	.btn--black {
		font-size: .875rem;
		padding: .437rem 1.187rem;

		&.active {
			position: absolute;
			z-index: 5;
			color: #000;
			border-color: #000;
			top: 0.75rem;
			left: 0.75rem;
		}
	}

	.btn--violet--underline {
		font-size: 1.25rem;
		padding: 1.25rem 2.75rem;
		position: inherit;
		right: 0;
		bottom: 0;
	}

	.btn--violet--underline {
		&::before {
			position: absolute;
			bottom: -.5rem;
			left: 0;
			content: "";
			width: 100%;
			height: .5rem;
		}
	}

	.btn--yellow {
		font-family: $font500;
		font-size: 1.625rem;
		background-color: #ffde02;
		padding: .437rem 3.125rem;
		border: .062rem solid #ebebeb;
		margin: 0 auto;
		border: .125rem solid #ebebeb;
	}

	header {
		height: 3.75rem;

		.header__wrapper {
			flex-direction: row-reverse;
			justify-content: space-between;
			padding: 0 .625rem;
			position: relative;

			.nav {
				position: absolute;
				top: -18.5rem;
			}

			.nav.active {
				display: flex;
				position: absolute;
				flex-direction: column;
				height: 13.5rem;
				width: 100%;
				left: 0;
				top: 0;
				text-align: center;
				padding-top: 5rem;
				background-color: #ffffff;
				transition: top .3s linear;

				.nav__link {
					color: #000;
					margin-left: 0;
					font-size: 1.5rem;
					margin: 0 1rem;
					margin-bottom: 1.6rem;
					position: relative;
					box-sizing: border-box;

					&:not(:last-child)::after {
						position: absolute;
						bottom: -1rem;
						left: 0;
						content: "";
						height: 2px;
						width: 100%;
						background-color: #f0f0f0;
					}
				}
			}

			.burger {
				display: block;
				width: 2.875rem;
				height: 2.875rem;
				background-color: #fff;
				border-radius: 50%;
				border: 0;
				position: relative;



				/*	.burger__item {
					position: absolute;
					content: '';
					width: 1.625rem;
					height: .187rem;
					left: .625rem;
					top: 1.375rem;
					background-color: #000;

					&::after {
						position: absolute;
						content: '';
						width: 1.625rem;
						height: .187rem;
						left: 0;
						top: .5rem;
						background-color: #000;
					}

					&::before {
						position: absolute;
						content: '';
						width: 1.625rem;
						height: .187rem;
						left: 0;
						top: -.5rem;
						background-color: #000;
					}
				}*/
			}
		}
	}

	.intro {
		background: url("../images/intro-bg-mobile.jpg") center;
		height: 86.25rem;
		padding-top: 3.75rem;
		background-size: cover;

		.intro__wrapper {
			height: 100%;

			.intro__main {
				height: auto;
				flex-direction: column-reverse;

				.intro__content {
					width: 100%;

					.intro__title {
						font-size: 2.5rem;
						line-height: 2.687rem;
						letter-spacing: -1.5px;
						margin-top: 0;
						margin-bottom: 0;
						padding-left: .625rem;
						margin-bottom: 3.687rem;

						&::before {
							bottom: -2rem;
							left: .562rem;
						}
					}

					.intro__subtitle {
						width: 100%;
						font-size: 1.25rem;
						letter-spacing: -.062rem;
						float: left;
						padding-left: .625rem;
					}
				}

				.intro__personal {
					width: 100%;

					.intro__subtitle {
						width: 100%;
						font-family: $font300;
						font-size: 1rem;
						padding-top: 20.625rem;
						text-align: right;
						padding-right: .75rem;
						margin-bottom: 1.875rem;
					}
				}
			}

			.intro__submain {
				height: auto;
				flex-direction: column;

				.intro__photo {
					width: 100%;
					padding-left: 0px;
					padding-top: 2.875rem;

					img {
						width: 100%;
						height: auto;
					}
				}

				.intro__content {
					width: 100%;
					padding: 0;

					.intro__text {
						font-size: 1.25rem;
						line-height: 1.5rem;
						margin-bottom: 2.187rem;
						padding-left: .625rem;
					}

					.intro__subcontent {
						display: flex;
						flex-direction: column;
						align-items: center;

						.inter__text {
							font-size: 2.5rem;
							line-height: 2.5rem;
							letter-spacing: -1.5px;
							margin-bottom: .875rem;
							padding-left: .625rem;
						}
					}
				}
			}
		}
	}

	.experience {
		background-image: url(../images/experience-mobile.png.jpg);
		padding-top: 4.875rem;
		height: 51.812rem;
		box-sizing: border-box;

		ul {
			padding-left: 1.125rem;

			li {
				font-family: $font300;
				font-size: 1rem;
				line-height: 1.25rem;
				margin-bottom: .625rem;
				padding-left: 0px;
			}
		}
	}

	.justification {
		padding-top: 2.062rem;
		padding-bottom: 2.5rem;

		h2 {
			margin-bottom: 1rem;
			padding-left: .625rem;
			letter-spacing: -1.3px;
		}

		.justification__wrapper {
			.justification__item-space {
				width: 2.5rem;
			}

			.justification__item {
				width: 100%;
				margin-bottom: .625rem;
				box-sizing: border-box;
				padding-left: .562rem;
				padding-top: 2.312rem;
				padding-right: 1rem;
				padding-bottom: 1rem;

				&:nth-child(1)::before {
					border-top: 1.25rem solid #bd3565;
					border-right: 1.25rem solid transparent;
				}

				&:nth-child(2)::before {
					border-top: 1.25rem solid #ce1acc;
					border-right: 1.25rem solid transparent;
				}

				&:nth-child(2) {
					padding-bottom: 1rem;
				}

				&:nth-child(3)::before {
					border-top: 1.25rem solid #5b35bd;
					border-right: 1.25rem solid transparent;
				}

				&:nth-child(4)::before {
					border-top: 1.25rem solid #3568bd;
					border-right: 1.25rem solid transparent;
				}

				.justification__title {
					font-size: 1.25rem;
					line-height: 1.625rem;
					margin-bottom: .562rem;
				}

				ul {
					padding-left: .75rem;

					li {
						font-family: $font300;
						font-size: 1rem;
						line-height: 1.25rem;
						margin-bottom: 0px;
					}
				}
			}
		}
	}

	.advantages {
		padding-top: 1.875rem;
		padding-bottom: 2.5rem;

		.advantages__wrapper {
			margin-left: .562rem;

			.advantages__block {
				flex-direction: column;
				margin-bottom: 2.625rem;
				margin-top: .5rem;

				.advantages__img {
					height: 7.625rem;
					width: 100%;
					padding-top: .375rem;
					padding-left: 0px;
					padding-left: .125rem;

					img {
						width: auto;
						height: 100%;
					}
				}

				.advantages__content {
					width: 100%;
					padding-top: 1.937rem;
					padding-right: 0;

					h2 {
						line-height: 1.875rem;
						margin-bottom: 1.125rem;
						letter-spacing: -1.2px;
					}

					ul {
						li {
							font-size: 1rem;
							line-height: 1.25rem;
						}
					}
				}
			}

			.advantages__subblock {
				flex-direction: column-reverse;

				.advantages__content {
					width: 100%;

					h2 {
						line-height: 1.875rem;
						letter-spacing: -1.2px;
						padding-top: 1.375rem;
						padding-right: 0;
						margin-bottom: 1.25rem;
					}

					ul {
						padding-right: 1.25rem;

						li {
							font-size: 1rem;
							line-height: 1.25rem;
						}
					}
				}

				.advantages__img {
					width: 100%;
					height: 7.312rem;
					box-sizing: border-box;
					padding-left: .187rem;
					padding-top: 0px;

					img {
						width: auto;
						height: 100%;
					}
				}
			}
		}
	}

	.packages {
		padding-top: 1.437rem;
		padding-bottom: 2.5rem;
		box-sizing: border-box;

		h2 {
			font-size: 1.25rem;
			text-align: left;
			line-height: 1.5rem;
			margin-bottom: 1rem;
			padding-left: .562rem;
			letter-spacing: -0.8px;
		}

		.packages__scroll {
			display: block;
			width: 2.375rem;
			height: auto;
			margin: 0 auto;
			margin-bottom: .625rem;

			img {
				width: 100%;
				height: auto;
			}
		}

		.packages__wrapper {
			overflow-y: scroll;

			.packages__item {
				width: 100%;

				.packages__title {
					font-size: 1.25rem;
					min-height: 3.75rem;
					padding-left: .75rem;
				}

				ul {
					li {
						font-size: 1rem;
						line-height: 1.25rem;
						min-height: 2.687rem;
						padding-left: .75rem;
						padding-right: 1.25rem;

						br {
							display: block;
						}

						&:last-child {}
					}
				}

				.packages__cost {
					display: flex;
					width: 20rem;
					flex-direction: column;
					align-items: baseline;
					justify-content: space-between;
					min-height: auto;
					background-color: #f5f5f5;
					padding-left: 0;
					padding-right: 0;
					border: 0;
					border-top: .062rem solid #ebebeb;
					margin-bottom: .625rem;

					.packages__text {
						width: 100%;
						font-size: 1rem;
						background-color: #6742e1;
						min-height: 3.125rem;
						display: -webkit-flex;
						display: -moz-flex;
						display: -ms-flex;
						display: -o-flex;
						display: flex;
						align-items: center;
						padding-left: .625rem;
						box-sizing: border-box;
						margin-bottom: .937rem;
					}
				}

				.packages__subtext {
					display: none;
					font-size: 1rem;
					padding-left: 0;
					align-items: center;
					height: auto;
					background-color: #fff;
				}
			}
		}

		.packages__information {
			display: block;
			background-color: #fcfcfc;
			font-family: $font300;
			font-size: 1rem;
			line-height: 1.25rem;
			color: #1c1c1c;
			position: relative;
			padding: .812rem .625rem;
			padding-bottom: .062rem;

			.packages__text {
				position: relative;
				margin-bottom: .625rem;

				&:last-child {
					padding-top: .75rem;
				}

				&:last-child:after {
					position: absolute;
					top: 0;
					left: 0;
					content: '';
					width: 100%;
					height: .125rem;
					background-color: #ebebeb;
				}
			}
		}
	}

	.consultation {
		padding-top: 2.062rem;
		padding-bottom: 2.625rem;

		h2 {
			text-align: left;
			margin-bottom: 1.125rem;
			line-height: 1.875rem;
			padding-left: .5rem;
		}

		.consultation__form {
			flex-direction: column;
			justify-content: center;
			padding-right: 1.25rem;
			padding-left: 1.25rem;

			input {
				font-size: 1.062rem;
				width: 100%;
				height: 3.312rem;
				margin-bottom: .625rem;
			}

			button {
				width: 100%;
				font-size: 1.062rem;
				height: 3.312rem;
			}
		}
	}

	.cases {
		height: 45rem;
		background-color: #fcfcfc;
		background: url(../images/cases/cases-mobile-bg.jpg) center;
		background-size: cover;

		.cases__slider {
			padding-top: 10.937rem;
			margin-left: -3.625rem;
			overflow: hidden;

			.cases__item {
				width: 20rem;
				height: 31.562rem;
				padding: 1rem 2rem;
				margin-left: 3.625rem;
				flex-direction: row;
				justify-content: space-between;
				background-size: 18.75rem !important;
				position: relative;

				.cases__content {
					width: 100%;
					flex-direction: column;
					justify-content: space-between;
					padding-bottom: 1.125rem;

					.cases__logo {
						width: 7.5rem;
						height: 2.5rem;

						img {
							width: 100%;
							height: auto;
						}
					}

					.cases__text {
						display: none;
					}

					.cases__link {
						font-size: .937rem;
					}

					svg.desktop {
						display: none;
					}

					svg.mobile {
						display: block;
						margin-right: 8.125rem;
						box-sizing: border-box;
						padding-top: .125rem;
						font-size: 1.875rem;
					}
				}

				.cases__photo {
					position: absolute;
					left: 5.312rem;
					top: 5.937rem;
					width: 0%;
					height: 18.75rem;

					img {
						height: 100%;
					}
				}
			}
		}
	}

	.slick-prev,
	.slick-next {
		display: none !important;
	}

	.team {
		height: 14.687rem;

		.team__wrapper {
			.team__title {
				font-size: 50px;
				top: 8.625rem;
				left: -.312rem;
			}

			video {
				width: 100%;
				height: auto;
				padding: .625rem;
				box-sizing: border-box;
			}
		}
	}

	.questions {
		padding-top: 1.937rem;
		padding-bottom: 2.187rem;

		h2 {
			text-align: left;
			margin-bottom: 1.125rem;
			line-height: 1.875rem;
			padding-left: .5rem;
		}

		.questions__form {
			flex-direction: column;
			padding-right: 1.25rem;
			padding-left: 1.25rem;

			input {
				font-size: 1.062rem;
				width: 100%;
				height: 3.312rem;
				margin-bottom: .625rem;
			}

			button {
				width: 100%;
				font-size: 1.062rem;
				height: 3.312rem;
			}
		}
	}

	footer {
		height: 3.375rem;

		.footer__wrapper {
			height: 100%;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;

			.footer__nav {
				display: none;
			}

			.footer__copyright {
				width: 100%;
				font-family: $font500;
				display: block;
				font-size: .875rem;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				text-align: center;
				justify-content: center;
				color: #fff;
			}
		}
	}

	.callback {
		padding-top: 1.937rem;
		padding-bottom: 2.187rem;

		h2 {
			text-align: left;
			margin-bottom: 2.125rem;
			line-height: 1.875rem;
			padding-left: .5rem;
			line-height: 2.2rem;
		}

		form {
			flex-direction: column;
			padding-right: 1.25rem;
			padding-left: 1.25rem;

			input {
				font-size: 1.062rem;
				width: 100%;
				height: 3.312rem;
				margin-bottom: .625rem;
			}

			button {
				width: 100%;
				font-size: 1.062rem;
				height: 3.312rem;
			}
		}
	}
}

@media screen and (max-width: 500px) {
	html {
		font-size: 16px;
	}

	.container {
		width: 320px;
	}
}