.snab {
	width: 100%;

	.snab__wrapper {
		width: 100%;

		.snab__block-1 {
			width: 100%;
			background: url("../images/cases/snab/1.png");
			background-size: cover;
			height: 47.5rem;
		}

		.snab__block-2 {
			width: 100%;
			background: url("../images/cases/snab/2.png");
			background-size: cover;
			height: 47.5rem;
		}

		.snab__block-3 {
			width: 100%;
			background: url("../images/cases/snab/3.png");
			background-size: cover;
			height: 47.5rem;
		}
	}
}

@media screen and (max-width: 781px) {
	.snab__block-1,
	.snab__block-2,
	.snab__block-3 {
		background: none !important;
		height: 0 !important;
	}

	.snab__wrapper {
		background: url('../images/cases/snab/mobile.png');
		height: 346rem;
		background-size: cover;
	}
}