@import "../fonts/fonts.scss";

$font100: 'Museo Sans Cyrl 100';
$font300: 'Museo Sans Cyrl 300';
$font500: 'Museo Sans Cyrl 500';
$font700: 'Museo Sans Cyrl 700';
$font900: 'Museo Sans Cyrl 900';


html,
body {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

h1,
h2 {
	margin: 0;
	padding: 0;
	font-size: 50px;
	font-family: $font700;
}

p,
ul,
li {
	margin: 0;
	padding: 0;
}


.container {
	width: 1398px;
	height: 100%;
	margin: 0 auto;
}


.el {
	margin-bottom: 2px;
	background-color: forestgreen;
}

a{
	text-decoration: none;
}

.btn {
	text-decoration: none;
	font-family: $font500;
}

.btn--black{
	border: 2px solid #ffffff;
	color: #fff;
	font-size: 20px;
	padding: 10px 30px;
}

.btn--violet--underline{
	color: #fff;
	background-color: #6742e1;
}

.btn--violet--underline{
	position: relative;
	&::before{
		position: absolute;
		bottom: -8px;
		left: 0;
		content: "";
		background-color: #8766f3;
		width: 100%;
		height: 8px;
	}
}

.btn--yellow{
	font-family: $font500;
	background-color: #ffde02;
}

header {
	height: 80px;
	background-color: #000;
	color: #fff;
	.header__wrapper {
		height: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		.nav {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: row;
			.nav__link {
				font-family: $font500;
				font-size: 20px;
				color: #fff;
			}
		}
  }
}

.intro{
	background: url("../images/intro-bg.jpg");
	color: #fff;
	height: 880px;
	.intro__wrapper{
		height: 880px;
		.intro__main{
			height: 520px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: row;
			.intro__content{
				width: 50%;
				.intro__title{
					font-family: $font700;
					line-height: 54px;
					letter-spacing: -2.2px;
					position: relative;
					margin-top: 107px;
					margin-bottom: 75px;
					&::before{
						position: absolute;
						width: 38px;
						height: 4px;
						content: "";
						bottom: -40px;
						left: 0;
						background-color: white;
					}
				}
				.intro__subtitle{
					font-family: $font500;
					font-size: 26px;
					letter-spacing: -1px;
				}
			}
			.intro__personal{
				width: 50%;
				.intro__photo{
					img{
					
					}
				}
				.intro__subtitle{
					font-family: $font300;
					font-size: 20px;
				}
			}
		}
		.intro__submain{
			height: 360px;
			.intro__photo{
				img{
					
				}
			}
			.intro__content{
				.intro__text{
					font-family: $font300;
					font-size: 20px;
					
				}
				.intro__subcontent{
					.inter__text{
						font-family: $font900;
						font-size: 60px;
					}
				}
			}
		}
	}
}

.experience{
	height: 463px;
	background-color: #6742e1;
	.experience__backtext{
		font-family: $font900;
		color: #8766f3;
		font-size: 150px;
	}
	ul{
		li{
			font-family: $font300;
			font-size: 20px;
			color: #fff;
		}
	}
}

.justification{
	background-color: #f5f5f5;
	h2{
		
	}
	.justification__wrapper{

		
		.justification__item{
			width: 50%;
			float: left;
			margin-bottom: 20px;
			&::before{
				position: absolute;
				content: '';
				left: 0;
				top: 0;
				z-index: 5;
				width: 0; 
				height: 0;
			}
			&:nth-child(1)::before{
				border-top: 30px solid #bd3565;
				border-right: 30px solid transparent;
			}	
			&:nth-child(2)::before{
				border-top: 30px solid #ce1acc;
				border-right: 30px solid transparent;
			}
			&:nth-child(3)::before{
				border-top: 30px solid #5b35bd;
				border-right: 30px solid transparent;
			}
			&:nth-child(4)::before{
				border-top: 30px solid #3568bd;
				border-right: 30px solid transparent;
			}
			.justification__title{
				font-family: $font700;
				color: #121212;
			}
			ul{
				li{
					font-family: $font300;
					font-size: 20px;
					color: #121212;
					list-style: none;
				}
			}
		}
	}
}

.advantages{
	.advantages__wrapper{
		.advantages__block{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: row;
			.advantages__img{
				img{}
			}
			.advantages__content{
				h2{
					
				}
				ul{
					li{
						list-style: none;
					}
				}
			}
		}
		.advantages__subblock{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: row;
			.advantages__content{
				h2{}
				ul{
					li{
						font-family: $font300;
						font-size: 20px;
						list-style: none;
					}
				}
			}
			.advantages__img{
				img{}
			}
		}
	}
}

.packages{
	background-color: #f5f5f5;
	h2{
		
	}
	.packages__wrapper{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		.packages__item{
			width: 50%;
			.packages__title{
				font-family: $font700;
				background-color: #6742e1;
				color: #fff;
			}
			ul{
				li{
					font-family: $font300;
					font-size: 20px;
					list-style: none;
					background-color: #fff;
					&:last-child{
						background-color: #d1c6f4;
					}
				}
			}
			.packages__cost{
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				.packages__text{
					font-family: $font700;
					font-size: 20px;
					background-color: #6742e1;
					color: #fff;
				}
			}
			.packages__subtext{
				font-family: $font300;
				font-size: 20px;
			}
		}
	}
}
.consultation{
	
	h2{
		color: #fff;
	}
	.consultation__form{
		background-color: #6742e1;
		input{
			font-size: 20px;
			color: #121212;
			
		}
		button{
			background-color: #000;
			color: #fff;
		}
	}
}

.cases{
	background-color: #fcfcfc;
	.cases__slider{
		
	}
}


.team{
	.team__wrapper{
			
	}
}

.questions{
	.questions__form{
		input{
			font-size: 20px;
			font-family: $font300;
		}
		button{
			
		}
	}
}

.footer{
	.footer__nav{
		.footer__link{
			font-size: 24px;
			font-family: $font500;
		}
	}
}










