.fresh {
  width: 100%;
}
.fresh .fresh__wrapper {
  width: 100%;
}
.fresh .fresh__wrapper .fresh__block-1 {
  width: 100%;
  background: url("../images/cases/fresh/1.jpg");
  background-size: cover;
  height: 47.5rem;
}
.fresh .fresh__wrapper .fresh__block-2 {
  width: 100%;
  background: url("../images/cases/fresh/2.jpg");
  background-size: cover;
  height: 47.5rem;
}
.fresh .fresh__wrapper .fresh__block-3 {
  width: 100%;
  background: url("../images/cases/fresh/3.jpg");
  background-size: cover;
  height: 47.5rem;
}
.fresh .fresh__wrapper .fresh__block-4 {
  width: 100%;
  background: url("../images/cases/fresh/4.jpg");
  background-size: contain;
  height: 47.5rem;
}
.fresh .fresh__wrapper .fresh__block-5 {
  width: 100%;
  background: url("../images/cases/fresh/5.jpg");
  background-size: cover;
  height: 47.5rem;
}
.fresh .fresh__wrapper .fresh__block-6 {
  width: 100%;
  background: url("../images/cases/fresh/6.jpg");
  background-size: cover;
  height: 47.5rem;
}
.fresh .fresh__wrapper .fresh__block-7 {
  width: 100%;
  background: url("../images/cases/fresh/7.jpg");
  background-size: cover;
  height: 47.5rem;
}
.fresh .fresh__wrapper .fresh__block-8 {
  width: 100%;
  background: url("../images/cases/fresh/8.jpg");
  background-size: cover;
  height: 47.5rem;
}
.fresh .fresh__wrapper .fresh__block-9 {
  width: 100%;
  background: url("../images/cases/fresh/9.jpg");
  background-size: cover;
  height: 47.5rem;
}

@media screen and (max-width: 781px) {
  .fresh__block-1,
.fresh__block-2,
.fresh__block-3,
.fresh__block-4,
.fresh__block-5,
.fresh__block-6,
.fresh__block-7,
.fresh__block-8,
.fresh__block-9 {
    background: none !important;
    height: 0 !important;
  }

  .fresh__wrapper {
    background: url("../images/cases/fresh/mobile.jpg");
    background-size: cover;
    height: 457rem;
  }
}