@media screen and (max-width: 500px) {
  html,
body {
    font-size: 16px;
  }

  h1,
h2 {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-family: "Museo Sans Cyrl 700";
    letter-spacing: -2px;
  }

  .container {
    width: 320px;
    height: 100%;
    margin: 0 auto;
  }

  .btn {
    text-decoration: none;
    font-family: "Museo Sans Cyrl 500";
  }

  .btn--black {
    font-size: 14px;
    padding: 7px 19px;
  }

  .btn--violet--underline {
    font-size: 20px;
    color: #fff;
    background-color: #6742e1;
    padding: 20px 44px;
    position: inherit;
    right: 0;
    bottom: 0;
  }

  .btn--violet--underline::before {
    position: absolute;
    bottom: -8px;
    left: 0;
    content: "";
    background-color: #8766f3;
    width: 100%;
    height: 8px;
  }

  .btn--yellow {
    font-family: "Museo Sans Cyrl 500";
    font-size: 26px;
    background-color: #ffde02;
    padding: 7px 50px;
    border: 1px solid #ebebeb;
    margin: 0 auto;
    border: 2px solid #ebebeb;
  }

  header {
    height: 60px;
  }
  header .header__wrapper {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 10px;
  }
  header .header__wrapper .nav {
    display: none;
  }
  header .header__wrapper .burger {
    display: block;
    width: 46px;
    height: 46px;
    background-color: #fff;
    border-radius: 50%;
    border: 0;
    position: relative;
  }
  header .header__wrapper .burger .burger__item {
    position: absolute;
    content: "";
    width: 26px;
    height: 3px;
    left: 10px;
    top: 22px;
    background-color: #000;
  }
  header .header__wrapper .burger .burger__item::after {
    position: absolute;
    content: "";
    width: 26px;
    height: 3px;
    left: 0;
    top: 8px;
    background-color: #000;
  }
  header .header__wrapper .burger .burger__item::before {
    position: absolute;
    content: "";
    width: 26px;
    height: 3px;
    left: 0;
    top: -8px;
    background-color: #000;
  }

  .intro {
    background: url("../images/intro-bg-mobile.jpg") center;
    height: 1380px;
    padding-top: 60px;
  }
  .intro .intro__wrapper {
    height: 1380px;
  }
  .intro .intro__wrapper .intro__main {
    height: auto;
    flex-direction: column-reverse;
  }
  .intro .intro__wrapper .intro__main .intro__content {
    width: 100%;
  }
  .intro .intro__wrapper .intro__main .intro__content .intro__title {
    font-size: 40px;
    line-height: 43px;
    letter-spacing: -1.5px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10px;
    margin-bottom: 59px;
  }
  .intro .intro__wrapper .intro__main .intro__content .intro__title::before {
    bottom: -32px;
    left: 9px;
  }
  .intro .intro__wrapper .intro__main .intro__content .intro__subtitle {
    width: 100%;
    font-size: 20px;
    letter-spacing: -1px;
    float: left;
    padding-left: 10px;
  }
  .intro .intro__wrapper .intro__main .intro__personal {
    width: 100%;
  }
  .intro .intro__wrapper .intro__main .intro__personal .intro__subtitle {
    width: 100%;
    font-family: "Museo Sans Cyrl 300";
    font-size: 16px;
    padding-top: 330px;
    text-align: right;
    padding-right: 12px;
    margin-bottom: 30px;
  }
  .intro .intro__wrapper .intro__submain {
    height: auto;
    flex-direction: column;
  }
  .intro .intro__wrapper .intro__submain .intro__photo {
    width: 100%;
    padding-left: 0px;
    padding-top: 46px;
  }
  .intro .intro__wrapper .intro__submain .intro__photo img {
    width: 100%;
    height: auto;
  }
  .intro .intro__wrapper .intro__submain .intro__content {
    width: 100%;
    padding: 0;
  }
  .intro .intro__wrapper .intro__submain .intro__content .intro__text {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 35px;
    padding-left: 10px;
  }
  .intro .intro__wrapper .intro__submain .intro__content .intro__subcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .intro .intro__wrapper .intro__submain .intro__content .intro__subcontent .inter__text {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.5px;
    margin-bottom: 14px;
    padding-left: 10px;
  }

  .experience {
    background-image: url(../images/experience-mobile.png.jpg);
    padding-top: 78px;
    height: 829px;
    box-sizing: border-box;
  }
  .experience ul {
    padding-left: 18px;
  }
  .experience ul li {
    font-family: "Museo Sans Cyrl 300";
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
    padding-left: 0px;
  }

  .justification {
    padding-top: 33px;
    padding-bottom: 40px;
  }
  .justification h2 {
    margin-bottom: 16px;
    padding-left: 10px;
    letter-spacing: -1.3px;
  }
  .justification .justification__wrapper .justification__item-space {
    width: 40px;
  }
  .justification .justification__wrapper .justification__item {
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding-left: 9px;
    padding-top: 37px;
    padding-right: 16px;
    padding-bottom: 16px;
  }
  .justification .justification__wrapper .justification__item:nth-child(1)::before {
    border-top: 20px solid #bd3565;
    border-right: 20px solid transparent;
  }
  .justification .justification__wrapper .justification__item:nth-child(2)::before {
    border-top: 20px solid #ce1acc;
    border-right: 20px solid transparent;
  }
  .justification .justification__wrapper .justification__item:nth-child(2) {
    padding-bottom: 16px;
  }
  .justification .justification__wrapper .justification__item:nth-child(3)::before {
    border-top: 20px solid #5b35bd;
    border-right: 20px solid transparent;
  }
  .justification .justification__wrapper .justification__item:nth-child(4)::before {
    border-top: 20px solid #3568bd;
    border-right: 20px solid transparent;
  }
  .justification .justification__wrapper .justification__item .justification__title {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 9px;
  }
  .justification .justification__wrapper .justification__item ul {
    padding-left: 12px;
  }
  .justification .justification__wrapper .justification__item ul li {
    font-family: "Museo Sans Cyrl 300";
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0px;
  }

  .advantages {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .advantages .advantages__wrapper {
    margin-left: 9px;
  }
  .advantages .advantages__wrapper .advantages__block {
    flex-direction: column;
    margin-bottom: 42px;
    margin-top: 8px;
  }
  .advantages .advantages__wrapper .advantages__block .advantages__img {
    height: 122px;
    width: 100%;
    padding-top: 6px;
    padding-left: 0px;
    padding-left: 2px;
  }
  .advantages .advantages__wrapper .advantages__block .advantages__content {
    width: 100%;
    padding-top: 31px;
    padding-right: 0;
  }
  .advantages .advantages__wrapper .advantages__block .advantages__content h2 {
    line-height: 30px;
    margin-bottom: 18px;
    letter-spacing: -1.2px;
  }
  .advantages .advantages__wrapper .advantages__block .advantages__content ul li {
    font-size: 16px;
    line-height: 20px;
  }
  .advantages .advantages__wrapper .advantages__subblock {
    flex-direction: column-reverse;
  }
  .advantages .advantages__wrapper .advantages__subblock .advantages__content {
    width: 100%;
  }
  .advantages .advantages__wrapper .advantages__subblock .advantages__content h2 {
    line-height: 30px;
    letter-spacing: -1.2px;
    padding-top: 22px;
    padding-right: 0;
    margin-bottom: 20px;
  }
  .advantages .advantages__wrapper .advantages__subblock .advantages__content ul {
    padding-right: 20px;
  }
  .advantages .advantages__wrapper .advantages__subblock .advantages__content ul li {
    font-size: 16px;
    line-height: 20px;
  }
  .advantages .advantages__wrapper .advantages__subblock .advantages__img {
    width: 100%;
    height: 117px;
    box-sizing: border-box;
    padding-left: 3px;
    padding-top: 0px;
  }
  .advantages .advantages__wrapper .advantages__subblock .advantages__img img {
    width: auto;
    height: 100%;
  }

  .packages {
    padding-top: 23px;
    padding-bottom: 40px;
    box-sizing: border-box;
  }
  .packages h2 {
    font-size: 20px;
    text-align: left;
    line-height: 24px;
    margin-bottom: 16px;
    padding-left: 9px;
    letter-spacing: -0.8px;
  }
  .packages .packages__scroll {
    display: block;
    width: 38px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .packages .packages__scroll img {
    width: 100%;
    height: auto;
  }
  .packages .packages__wrapper {
    overflow-y: scroll;
  }
  .packages .packages__wrapper .packages__item {
    width: 100%;
  }
  .packages .packages__wrapper .packages__item .packages__title {
    font-size: 20px;
    min-height: 60px;
    padding-left: 12px;
  }
  .packages .packages__wrapper .packages__item ul li {
    font-size: 16px;
    line-height: 20px;
    min-height: 43px;
    padding-left: 12px;
    padding-right: 20px;
  }
  .packages .packages__wrapper .packages__item ul li br {
    display: block;
  }
  .packages .packages__wrapper .packages__item .packages__cost {
    display: flex;
    width: 320px;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    min-height: auto;
    background-color: #f5f5f5;
    padding-left: 0;
    padding-right: 0;
    border: 0;
    border-top: 1px solid #ebebeb;
    margin-bottom: 10px;
  }
  .packages .packages__wrapper .packages__item .packages__cost .packages__text {
    width: 100%;
    font-size: 16px;
    background-color: #6742e1;
    min-height: 50px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    padding-left: 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
  }
  .packages .packages__wrapper .packages__item .packages__subtext {
    display: none;
    font-size: 16px;
    padding-left: 0;
    align-items: center;
    height: auto;
    background-color: #fff;
  }
  .packages .packages__information {
    display: block;
    background-color: #fcfcfc;
    font-family: "Museo Sans Cyrl 300";
    font-size: 16px;
    line-height: 20px;
    color: #1c1c1c;
    position: relative;
    padding: 13px 10px;
    padding-bottom: 1px;
  }
  .packages .packages__information .packages__text {
    position: relative;
    margin-bottom: 10px;
  }
  .packages .packages__information .packages__text:last-child {
    padding-top: 12px;
  }
  .packages .packages__information .packages__text:last-child:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ebebeb;
  }

  .consultation {
    padding-top: 33px;
    padding-bottom: 42px;
  }
  .consultation h2 {
    text-align: left;
    margin-bottom: 18px;
    line-height: 30px;
    padding-left: 8px;
  }
  .consultation .consultation__form {
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
    padding-left: 20px;
  }
  .consultation .consultation__form input {
    font-size: 17px;
    width: 100%;
    height: 53px;
    margin-bottom: 10px;
  }
  .consultation .consultation__form button {
    width: 100%;
    font-size: 17px;
    height: 53px;
  }

  .cases {
    height: 720px;
    background-color: #fcfcfc;
    background: url(../images/cases/cases-mobile-bg.jpg) center;
  }
  .cases .cases__slider {
    padding-top: 175px;
    margin-left: -58px;
    overflow: hidden;
  }
  .cases .cases__slider .cases__item {
    width: 320px;
    height: 505px;
    padding: 16px 32px;
    margin-left: 58px;
    flex-direction: row;
    justify-content: space-between;
    background-size: 300px !important;
    position: relative;
  }
  .cases .cases__slider .cases__item .cases__content {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 18px;
  }
  .cases .cases__slider .cases__item .cases__content .cases__logo {
    width: 120px;
    height: 40px;
  }
  .cases .cases__slider .cases__item .cases__content .cases__logo img {
    width: 100%;
    height: auto;
  }
  .cases .cases__slider .cases__item .cases__content .cases__text {
    display: none;
  }
  .cases .cases__slider .cases__item .cases__content .cases__link {
    font-size: 15px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
  }
  .cases .cases__slider .cases__item .cases__content svg.desktop {
    display: none;
  }
  .cases .cases__slider .cases__item .cases__content svg.mobile {
    display: block;
    margin-right: 130px;
    box-sizing: border-box;
    padding-top: 2px;
    font-size: 30px;
  }
  .cases .cases__slider .cases__item .cases__photo {
    position: absolute;
    left: 85px;
    top: 95px;
    width: 0%;
    height: 300px;
  }
  .cases .cases__slider .cases__item .cases__photo img {
    height: 100%;
  }

  .slick-prev,
.slick-next {
    display: none !important;
  }

  .team {
    height: 235px;
  }
  .team .team__wrapper .team__title {
    font-size: 50px;
    top: 138px;
    left: -5px;
  }
  .team .team__wrapper video {
    width: 100%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
  }

  .questions {
    padding-top: 31px;
    padding-bottom: 35px;
  }
  .questions h2 {
    text-align: left;
    margin-bottom: 18px;
    line-height: 30px;
    padding-left: 8px;
  }
  .questions .questions__form {
    flex-direction: column;
    padding-right: 20px;
    padding-left: 20px;
  }
  .questions .questions__form input {
    font-size: 17px;
    width: 100%;
    height: 53px;
    margin-bottom: 10px;
  }
  .questions .questions__form button {
    width: 100%;
    font-size: 17px;
    height: 53px;
  }

  footer {
    height: 54px;
  }
  footer .footer__wrapper {
    height: 100%;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
  }
  footer .footer__wrapper .footer__nav {
    display: none;
  }
  footer .footer__wrapper .footer__copyright {
    width: 100%;
    font-family: "Museo Sans Cyrl 500";
    display: block;
    font-size: 14px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #fff;
  }
}