@font-face {
  font-family: "Museo Sans Cyrl 500";
  src: url("../fonts/MuseoSansCyrl-500.eot");
  src: local("../fonts/MuseoSansCyrl-500"), url("../fonts/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSansCyrl-500.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans Cyrl 900";
  src: url("../fonts/MuseoSansCyrl-900.eot");
  src: local("../fonts/MuseoSansCyrl-900"), url("../fonts/MuseoSansCyrl-900.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-900.woff") format("woff"), url("../fonts/MuseoSansCyrl-900.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans Cyrl 700";
  src: url("../fonts/MuseoSansCyrl-700.eot");
  src: local("MuseoSansCyrl-700"), url("../fonts/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans Cyrl 300";
  src: url("../fonts/MuseoSansCyrl-300.eot");
  src: local("../fonts/MuseoSansCyrl-300"), url("../fonts/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans Cyrl 100";
  src: url("../fonts/MuseoSansCyrl-100.eot");
  src: local("../fonts/MuseoSansCyrl-100"), url("../fonts/MuseoSansCyrl-100.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-100.woff") format("woff"), url("../fonts/MuseoSansCyrl-100.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
.snab__title {
  font-family: "Museo Sans Cyrl 700";
  font-size: 2.666rem;
  line-height: 4rem;
  color: #fff;
}

.snab__subtitle {
  font-family: "Museo Sans Cyrl 300";
  font-size: 2rem;
  line-height: 3.333rem;
  color: #fff;
}
.snab__subtitle ul {
  list-style: none;
}

.snab {
  width: 100%;
}
.snab .snab__wrapper {
  width: 100%;
}
.snab .snab__wrapper .snab__block-1 {
  width: 100%;
  height: 60.571rem;
  background: url("../images/dest/snab/11.png");
  background-size: contain;
  box-sizing: border-box;
  padding-top: 28.19rem;
  padding-left: 4.761rem;
}
.snab .snab__wrapper .snab__block-1 .snab__title {
  font-size: 3.523rem;
  text-transform: uppercase;
  text-align: center;
  padding: 0 10.952rem;
  margin-bottom: 9.523rem;
}
.snab .snab__wrapper .snab__block-1 .snab__subtitle {
  font-size: 1.904rem;
  text-align: center;
  line-height: 2.285rem;
}
.snab .snab__wrapper .snab__block-2 {
  width: 100%;
  height: 60.571rem;
  background: url("../images/dest/snab/22.png");
  background-size: contain;
  box-sizing: border-box;
  padding-top: 10.952rem;
  padding-left: 5.714rem;
}
.snab .snab__wrapper .snab__block-2 .snab__title {
  margin-bottom: 0.333rem;
}
.snab .snab__wrapper .snab__block-2 .snab__subtitle {
  margin-bottom: 3.142rem;
}
.snab .snab__wrapper .snab__block-3 {
  width: 100%;
  height: 60.571rem;
  background: url("../images/dest/snab/33.png");
  background-size: contain;
  box-sizing: border-box;
  padding-top: 8.571rem;
  padding-left: 6.19rem;
  padding-right: 3.809rem;
}
.snab .snab__wrapper .snab__block-3 .snab__title {
  margin-bottom: 0px;
}
.snab .snab__wrapper .snab__block-3 .snab__subtitle {
  margin-bottom: 2.523rem;
  line-height: 2.809rem;
}
@media screen and (max-width: 781px) {
  .snab__wrapper {
    background: url("../images/dest/snab/snab-mobile.png");
    background-size: contain;
  }
  .snab__wrapper .snab__block-1,
.snab__wrapper .snab__block-2,
.snab__wrapper .snab__block-3 {
    background: none !important;
  }

  .snab__title {
    font-size: 22px;
    line-height: 20px;
  }

  .snab__subtitle {
    font-size: 18px;
    line-height: 22px;
  }

  .snab .snab__wrapper .snab__block-1 {
    height: 660px;
    padding-top: 321px;
    padding-left: 20px;
    padding-right: 19px;
  }
  .snab .snab__wrapper .snab__block-1 .snab__title {
    font-size: 24px;
    line-height: 30px;
    text-align: left;
    padding: 0;
    margin-bottom: 55px;
  }
  .snab .snab__wrapper .snab__block-1 .snab__subtitle {
    font-size: 18px;
    line-height: 20px;
    text-align: left;
  }
  .snab .snab__wrapper .snab__block-1 .snab__subtitle p {
    margin-bottom: 9px;
  }
  .snab .snab__wrapper .snab__block-2 {
    height: 410px;
    padding-top: 34px;
    padding-left: 20px;
  }
  .snab .snab__wrapper .snab__block-2 .snab__title {
    margin-bottom: 3px;
  }
  .snab .snab__wrapper .snab__block-2 .snab__subtitle {
    margin-bottom: 20px;
  }
  .snab .snab__wrapper .snab__block-3 {
    height: 545px;
    padding-top: 17px;
    padding-left: 20px;
    padding-right: 12px;
  }
  .snab .snab__wrapper .snab__block-3 .snab__title {
    margin-bottom: 3px;
  }
  .snab .snab__wrapper .snab__block-3 .snab__subtitle {
    margin-bottom: 21px;
    line-height: 22px;
  }
}