@import "../fonts/fonts.scss";

$font100: 'Museo Sans Cyrl 100';
$font300: 'Museo Sans Cyrl 300';
$font500: 'Museo Sans Cyrl 500';
$font700: 'Museo Sans Cyrl 700';
$font900: 'Museo Sans Cyrl 900';


html{
  font-size: 11.55555555555556px;
}

body, ul, p{
  padding: 0;
  margin: 0;
}

.container{
  width: 1300px;
}

.fresh{
  width: 100%;
  .fresh__wrapper{
    width: 100%;
    .fresh__block-1{
      width: 100%;
      height:62.5rem;
      background: url("../images/dest/fresh/1.png");
      background-size: contain;
      .fresh__title{
        font-family: $font700;
        font-size:4.375rem;
        color: #ffffff;
        padding-top: 26.8125rem;
        margin-left: 24.562rem;
        margin-bottom: 1.937rem;
      }
      .fresh__subtitle{
        display: flex;
        flex-direction: row;
        margin-left: 29.625rem;
        .subtitle__number{
          font-size: 9.375rem;
          font-family: $font500;
          font-style: italic;
          color: #ffe400;
        }
        .subtitle__text{
          font-family: $font300;
          font-style: italic;
          font-size: 2.875rem;
          color: #ffffff;
          padding-top:1.125rem;
        }
      }
    }
    .fresh__block-2{
      width: 100%;
      height:62.5rem;
      background: url("../images/dest/fresh/2.png");
      background-size: contain;
      padding-top: 5.437rem;
      box-sizing: border-box;
      padding-left: 5.937rem;
      .fresh__title{
        font-family: $font900;
        font-style: italic;
        font-size:3.75rem;
        margin-bottom: 4.75rem;
      }
      ul{
        margin-left: 11.625rem;
        margin-bottom:3.125rem;
        li{
          list-style: none;
          font-family: $font500;
          font-style: italic;
          font-size:1.875rem;
          color: #0f1e32;
          margin-bottom: 4.125rem;
        }
      }
      .fresh__subtitle{
        display: flex;
        flex-direction: row;
        margin-left: 18.75rem;

        .fresh__text{
          width: 28.75rem;
          font-family: $font500;
          font-style: italic;
          font-size:1.875rem;
          padding-top: 3rem;
          line-height:3.125rem;
          margin-right: 7.812rem;
          & span{
            font-family: $font700;
            margin-right:1.375rem;
          }
        }
        .fresh__subtext{
          font-family: $font300;
          font-size: 2rem;
          font-style: italic;
          margin-top: 2.687rem;
          text-align: center;
          line-height:2.5rem;
        }
      }
    }
    .fresh__block-3{
      width: 100%;
      height:62.5rem;
      background: url("../images/dest/fresh/3.png");
      background-size: contain;
      padding-top: 5.437rem;
      box-sizing: border-box;
      padding-left: 6rem;
      .fresh__title{
        font-family: $font700;
        font-style: italic;
        font-size:3.75rem;
      }
      .fresh__content{
        position: relative;
        padding-left: 10.5rem;
        padding-top:2.5rem;
        .fresh__works{
          font-family: $font500;
          font-style: italic;
          font-size:1.25rem;
          line-height:1.8125rem;
          .fresh__text{
            &:nth-child(1){
              width: 46.875rem;
              margin-bottom: 2.937rem;
            }
            &:nth-child(2){
              width: 46.875rem;
              margin-left: 10rem;
              margin-bottom: 2.312rem;
            }
            &:nth-child(3){
              width: 41.25rem;
              margin-left:4.375rem;
              line-height:1.875rem;
              margin-bottom: 3.687rem;
            }
            &:nth-child(4){
              width: 54.375rem;
              line-height:1.875rem;
            }
            ul{
              list-style: none;
            }
          }
        }
      }
    }
    .fresh__block-4{
      width: 100%;
      height:62.5rem;
      background: url("../images/dest/fresh/4.png");
			background-size: contain;
      padding-top: 5.375rem;
      padding-left: 6rem;
      box-sizing: border-box;
      color: #fff;
      .fresh__title{
        font-family: $font700;
        font-style: italic;
        font-size:3.75rem;
        margin-bottom: 5.75rem;


      }
      .fresh__items{
        display: flex;
        flex-wrap: wrap;
        margin-left: 9.5rem;

        .fresh__item{
          width: 39.375rem;
          font-family: $font500;
          font-size:1.875rem;
          margin-bottom: 8.312rem;
        }
      }
      .fresh__subtitles{
        display: flex;
        flex-direction: row;
        margin-left:2.5rem;
        margin-top:0.1875rem;
        .fresh__subtitle{
          width: 41.875rem;
          font-family: $font300;
          font-size:1.875rem;
          text-align: center;
          &:first-child{
            margin-right: 11.375rem;
          }
          & span{
            font-family: $font500;
            font-style: italic;
          }
        }
      }
    }
    .fresh__block-5{
      width: 100%;
      height:62.5rem;
      background: url("../images/dest/fresh/5.png");
			background-size: contain;
      padding-top: 5.812rem;
      padding-left: 6.312rem;
      box-sizing: border-box;
      color: #fff;
      .fresh__title{
        font-family: $font500;
        font-size: 2.125rem;
        line-height: 2.687rem;
        margin-bottom: 4.062rem;
      }
      .fresh__text{
        font-family: $font300;
        font-size:1.875rem;
        width: 58.75rem;
        line-height:3.125rem;
        margin-bottom: 2.25rem;
      }
      ul{
        font-family: $font300;
        font-size:1.875rem;
        list-style: none;
        margin-left: 2rem;
        margin-bottom: 5.5rem;
        width: 47.5rem;
        li{
          margin-bottom:1.5rem;
          line-height: 2.312rem;
        }
      }
      .fresh__subtitle{
        font-family: $font500;
        font-size: 2.125rem;
        color: #000;
        margin-left:0.4375rem;
      }
    }
    .fresh__block-6{
      width: 100%;
      height:62.5rem;
      background: url("../images/dest/fresh/6.png");
			background-size: contain;
      padding-top: 5.812rem;
      padding-left: 6.312rem;
      box-sizing: border-box;
      color: #fff;
      .fresh__text{
        width: 63.125rem;
        font-family: $font500;
        font-size:1.875rem;
        line-height:2.5rem;
        margin-bottom:2.5rem;
      }
    }
    .fresh__block-7 {
      width: 100%;
      height:62.5rem;
      background: url("../images/dest/fresh/7.png");
			background-size: contain;
      padding-top: 5.812rem;
      padding-left: 6.312rem;
      box-sizing: border-box;
      .fresh__title{
        font-family: $font300;
        font-size:1.875rem;
        margin-bottom: 2.187rem;
      }
      ul{
        width:50rem;
        margin-left:1.75rem;
        li{
          font-family: $font300;
          font-size:1.875rem;
          line-height: 2.312rem;
          list-style: none;
          margin-bottom: 2.125rem;
          &:last-child{
            margin-bottom: 2.75rem;
          }
        }
      }
      .fresh__subtitle{
        width:50rem;
        font-family: $font300;
        font-size:1.875rem;
        line-height:2.5rem;
      }
    }
    .fresh__block-8 {
      width: 100%;
      height:62.5rem;
      background: url("../images/dest/fresh/8.png");
			background-size: contain;
      padding-top: 5.812rem;
      padding-left: 6.312rem;
      box-sizing: border-box;
      .fresh__text{
        width: 45rem;
        font-family: $font300;
        font-size:1.875rem;
        line-height:2.5rem;
        color: #fff;
        margin-bottom:2.5rem;
        span{
          font-family: $font500;
          font-size:2.5rem;
          color: #fff;
        }
        &:last-child{
          line-height: 2.25rem;
        }
      }
    }
    .fresh__block-9 {
      width: 100%;
      height:62.5rem;
      background: url("../images/dest/fresh/9.png");
			background-size: contain;
      padding-top: 17.125rem;
      padding-left: 6.312rem;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      font-family: $font300;
      font-size:1.375rem;
      .fresh__contacts{
        width: 31.25rem;
        margin-right: 18.75rem;
        p{
          margin-bottom:1.4375rem;
        }
      }
      .fresh__text{
        width: 52.5rem;
        text-align: justify;
        p{
          margin-bottom:1.75rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1299px) {
	html {
		font-size: 9.6px;
	}

	.container {
		width: 1080px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 1079px) {
	html {
		font-size: 7.733333333333333px;
	}

	.container {
		width: 870px;
		margin: 0 auto;
	}
}


@media screen and (max-width: 869px) {

	html {
		font-size: 25.6px;
	}

  .fresh__wrapper {
    background: url("../images/dest/fresh/fresh-background-mobile.png");
		background-size: contain;
    .fresh__block-1 {
      background: none !important;
    }
    .fresh__block-2 {
      background: none !important;
    }
    .fresh__block-3 {
      background: none !important;
    }
    .fresh__block-4 {
      background: none !important;
    }
    .fresh__block-5 {
      background: none !important;
    }
    .fresh__block-6 {
      background: none !important;
    }
    .fresh__block-7 {
      background: none !important;
    }
    .fresh__block-8 {
      background: none !important;
    }
    .fresh__block-9 {
      background: none !important;
    }
  }

  .container{
    width: 600px;
    margin: 0 auto;
  }

  .fresh{
    .fresh__wrapper{
      .fresh__block-1{
        height: 32.25rem;
        .fresh__title{
          font-family: $font700;
          font-size:1.875rem;
          text-transform: uppercase;
          padding-top: 14rem;
          margin-left:1.125rem;
          margin-bottom:0.5625rem;
          letter-spacing: -0.5px;
          line-height: 2.75rem;
        }
        .fresh__subtitle{
          margin-left:1.125rem;
          .subtitle__number{
            font-size:1.25rem;
            font-family: $font700;
            font-style: normal;
            color: #ffffff;
            padding-top:0.1875rem;
            margin-right:0.1875rem;
          }
          .subtitle__text{
            font-family: $font700;
            font-style: normal;
            font-size:1.25rem;
            padding-top: 0px;
            line-height: 1.937rem;
          }
        }
      }
      .fresh__block-2{
        height: 71.062rem;
        box-sizing: border-box;
        padding-top: 2.75rem;
        padding-left:1.125rem;
        padding-right:1.125rem;
        .fresh__title{
          font-family: $font700;
          font-size: 2.062rem;
          margin-bottom: 2.25rem;
        }
        ul{
          margin-left: 6.25rem;
          margin-bottom: 10rem;
          li{
            font-size:1rem;
            line-height:1.5rem;
            margin-bottom:1.5rem;
          }
        }
        .fresh__subtitle{
          flex-direction: column;
          margin-left: 0px;
          .fresh__text{
            width: 20.625rem;
            font-family: $font700;
            font-size:1.1875rem;
            text-align: center;
            padding-top: 0px;
            line-height: 2rem;
            padding-left:0.9375rem;
            margin-right: 0px;
            & span{
              font-family: $font700;
              margin-right:0.625rem;
            }
          }
          .fresh__subtext{
            font-size:1rem;
            text-align: center;
            line-height:1.375rem;
            margin-top: 19.875rem;
          }
        }
      }
      .fresh__block-3{
        height: 103.437rem;
        box-sizing: border-box;
        padding-top: 2.125rem;
        padding-left:1.125rem;
        padding-right:1.125rem;
        .fresh__title{
          font-size: 2.062rem;
          width: 12.5rem;
        }
        .fresh__content{
          position: relative;
          padding-left:1.3125rem;
          padding-top: 20.5rem;
          .fresh__works{
            font-family: $font700;
            font-size:1rem;
            line-height:1.5625rem;
            .fresh__text{
              width: 100%;
              &:nth-child(1){
                width: 18.75rem;
                margin-bottom:1.625rem;
              }
              &:nth-child(2){
                width: 100%;
                margin-left: 0px;
                margin-bottom:1.3125rem;
                line-height:1.5625rem;
              }
              &:nth-child(3){
                width: 100%;
                margin-left: 0px;
                margin-bottom:1rem;
                line-height:1.5625rem;
              }
              &:nth-child(4){
                width: 100%;
                line-height:1.5625rem;
                
              }
              ul{
              }
            }
          }
        }
      }
      .fresh__block-4{
        width: 100%;
        height: 79.812rem;
        padding-top:3.75rem;
        padding-left:1.125rem;
        padding-right:1.125rem;
        .fresh__title{
          font-size: 2.062rem;
          margin-bottom: 7.687rem;
        }
        .fresh__items{
          margin-left: 0px;

          .fresh__item{
            width: 10.5rem;
            font-family: $font500;
            font-size:1rem;
            margin-bottom: 7.875rem;
            text-align: center;
            &:nth-child(5),
            &:nth-child(6)
            {
              margin-bottom:1.25rem;
            }
          }
        }
        .fresh__subtitles{
          flex-direction: column;
          margin-left: 2.562rem;
          margin-top:0.875rem;
          .fresh__subtitle{
            width: 100%;
            font-family: $font300;
            font-size:1rem;
            text-align: left;
            &:first-child{
              margin-right: 0px;
              margin-bottom: 2.937rem;
            }
            & span{
              font-family: $font500;
              font-style: italic;
            }
          }
        }
      }
      .fresh__block-5{
        height: 75.562rem;
        padding-top: 2.625rem;
        padding-left:1.125rem;
        padding-right:1.125rem;
        .fresh__title{
          font-family: $font500;
          font-size:1.25rem;
          line-height:1.875rem;
          margin-bottom:1rem;
          padding-right:1.25rem;
        }
        .fresh__text{
          font-family: $font500;
          font-size:1rem;
          width: 20.625rem;
          line-height:1.5625rem;
          margin-bottom:0.625rem;
        }
        ul{
          font-family: $font500;
          font-size:1rem;
          margin-left:1.375rem;
          margin-bottom: 6.25rem;
          width: 100%;
          li{
            margin-bottom:0.9375rem;
            line-height:1.5625rem;
          }
        }
        .fresh__subtitle{
          font-family: $font500;
          font-size:1.25rem;
          line-height:1.875rem;
          color: #000;
          margin-left:0.1875rem;
        }
      }
      .fresh__block-6{
        height: 75.875rem;
        padding-top: 4.562rem;
        padding-left:1.125rem;
        padding-right:1.125rem;
        .fresh__text{
          width: 100%;
          font-size:1rem;
          line-height:1.5625rem;
          margin-bottom:1.625rem;
        }
      }
      .fresh__block-7 {
        height: 35.25rem;
        padding-top: 4.062rem;
        padding-left:1.125rem;
        padding-right:1.125rem;
        .fresh__title{
          font-family: $font300;
          font-size:1rem;
          line-height:1.5rem;
          margin-bottom:0.8125rem;
        }
        ul{
          width: 100%;
          margin-left:1.5rem;
          li{
            font-size:1rem;
            line-height:1.5625rem;
            margin-bottom:0.9375rem;
            &:last-child{
              margin-bottom:1.75rem;
            }
          }
        }
        .fresh__subtitle{
          position: relative;
          width: 100%;
          font-family: $font300;
          font-size:1rem;
          line-height:1.5625rem;
          span{
            position: absolute;
            left: 0;
            top: 7.812rem;
          }
        }
      }
      .fresh__block-8 {
        height: 42.75rem;
        padding-top: 3.25rem;
        padding-left:1.25rem;
        padding-right:1.5625rem;
        .fresh__text{
          width: 100%;
          font-size:1rem;
          line-height:1.5625rem;
          margin-bottom:1.4375rem;
          span{
            font-family: $font500;
            font-size:1.25rem;
          }
          &:last-child{
            line-height:1.5625rem;
          }
        }
      }
      .fresh__block-9 {
        height: 80.375rem;
        padding-top: 6.875rem;
        padding-left:1.25rem;

        flex-direction: column;
        font-family: $font300;
        font-size:1rem;
        .fresh__contacts{
          width: 100%;
          margin-right: 0px;
          margin-bottom:1.6875rem;
          p{
            margin-bottom:0.375rem;

          }
        }
        .fresh__text{
          width: 20.625rem;

          text-align: left;
          padding-right:1.4375rem;
          p{
            margin-bottom:1.875rem;
          }
        }
      }
    }
  }

}

@media screen and (max-width: 599px) {

	html {
		font-size: 16px;
	}
	
	.container {
		width: 375px;
	}
}